* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 18rem;
    width: 100vw;
    background-color: #6943FF;
    color: #FFFFFF;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 800;
    margin: 1.875rem 3.125rem;
}

.num-text {
    border: 2px solid #B295FF;
    border-radius: 5px;
    flex: auto ;
    width: 8rem;
    max-height: 5.19rem; 
    max-width: fit-content;
    align-self: center;
    padding: 1.88rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
    background-color: inherit;
    text-align: center;
    color: #FFFFFF;
    font-size: 3.625rem;
}

button {
    padding: 0.625rem 1.75rem;
    width: 7.5rem;
    align-self: center;
    border-radius: 5px;
}

.body-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.unit-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 75vw;
    height: 7rem;
    margin: 1.5rem auto;
    
}

h2 {
    color: #5A537B;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.88rem;
    margin-bottom: 00.625rem;
}